
<script type="text/javascript">
  $.fn.modal.Constructor.prototype._enforceFocus = function () {};

</script>

<!-- <div class="container">
  <div class="modal fade slide-up disable-scroll colorq " id="modalSlideUp" tabindex="-1" role="dialog" aria-labelledby="modalSlideUpLabel" aria-hidden="false">
   <div class="modal-dialog ">
     <div class="modal-content-wrapper">
       <div class="modal-content">

         <div class="modal-header myheader clearfix text-left myheader ">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
             <i class="pg-close fs-14 cross-icon"></i>
           </button>
           <center>
            <h2>Project Name</h2>
           </center>
         </div>

         <div class="modal-body mbody">
           <br>
           <div class="relative-div">
             <div class="list-group ">
               <%= simple_form_for @bids do |f| %>
                  <%= f.input :bid_percentage %>
                  <%= f.button :submit %>

               <% end %>


             </div>
           </div>

         </div>



       </div>
     </div>

   </div>
 </div> -->
<!--modal div end  -->
<!-- </div> -->
<!--container div end  -->
