<div class="row">
	<div class="col-sm-8">
		<div class="card card-red">
			<header class="card-heading border-bottom">
				<h2 class="card-title"> <%=@project.title%> Sample Title</h2>
			</header>
			<div class="card-body border-bottom">
				Ownership: <%=%>Sample Owner
				<br>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>User</th>
								<th>Ownership</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>sample@sample.com</td>
								<td>54.25%</td>
							</tr>
							<tr>
								<td>sample@sample.com</td>
								<td>54.25%</td>
							</tr>
							<tr>
								<td>sample@sample.com</td>
								<td>54.25%</td>
							</tr>
							<%@project_users.each do |project_user|%>
								<tr>
									<td><%=project_user.email%></td>
									<td><%=project_user.ownership_percentage%></td>
								</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				Description: Sample Description
			</div>
			<div class="card-footer text-center">
				Looking for: <br>
				<button class="btn btn-primary btn-sm btn-round">Soham</button>
				<button class="btn btn-primary btn-sm btn-round">Soham</button>
				<button class="btn btn-primary btn-sm btn-round">Soham</button>
				<%@project.tag_list.each do |tag|%>
				<%end%>
			</div>
		</div>
	</div>
</div>