<div class="row">
	<div class="col-md-10 col-sm-offset-2">
<div class="card">
<header class="card-heading" style="background-image: linear-gradient(82deg, #a052a9, #7752a7);">
  <h2 class="card-title" style="color:white"><center>  Digital Contract</center></h2>
</header>
<div class="card-body">
	<div class="circle lg md-bg-deep-purple-50 m-r-9 " id="left-img"><img src="assets/img/profiles/11.jpg" class="img-circle profile-mini" alt=""></div>
			
			<fieldset class="rating-left">
				<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
				<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
				<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
				<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
				<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
				<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
				<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
				<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
				<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
				<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
			</fieldset>
			
				<img src="/Arrows-01.png" alt="" style="width:100px; height:100px; margin-left:55px; margin-top:-60px;"></img>
				
				<div class="circle lg md-bg-deep-purple-50 m-r-9" id="right-img"> <img src="assets/img/profiles/08.jpg" class="img-circle profile-mini"  alt="">   </div>
			
			<fieldset class="rating-right">
				<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
				<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
				<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
				<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
				<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
				<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
				<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
				<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
				<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
				<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
			</fieldset>
			<div class="row">
			<div class="col-md-10 col-sm-offset-1">
			 <table class="table table-hover">
					<thead> 
						<tr>
							<th>User</th>
							<th>Ownership</th>
						</tr>
					</thead>
					<tbody style="text-align: center">
						<tr style="background-color: white;">
							<td >sample@sample.com</td>
							<td >35.5%</td>
						</tr>
						<tr style="background-color: white;">
							<td>sample@sample.com</td>
							<td>25.5%</td>
						</tr>
						<tr style="background-color: white;">
							<td>sample@sample.com</td>
							<td>29%</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div class="col-md-10 col-sm-offset-1">
				<div class="form-group is-empty">
                          <label>ETH Address</label>
                          <input type="text" class="form-control input-mask" data-mask="000.000.000.000" placeholder="eg: 0x 00000000000000000" autocomplete="off" maxlength="15">
                </div>
                </div>
				</div>

                        	
  </div>
  <div class="card-footer border-top">
    <ul class="card-actions left-bottom">
      <li>
        <button class="btn btn-primary btn-cons btn-round" type="button" name="button">Sign Contract
		</button>
      </li>
    </ul>
  </div>
</div>
</div>
</div>