/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Roboto', sans-serif;
 }

 .relative-div{
 position: relative;
 }

.vesting-btn-index{
	position:absolute ;
	right: 60px;
	top: 0px;
}
.card-index{
	min-height: 170px;
}

.card-grey{
	background-color: #F5F5F5;
}

.no-margin{
	margin-top: 5px !important;
}

.hover{
	cursor: pointer;
}
@media (min-width: 768px){
.content{
	width: 1060px !important;
	// height: 700px !important; 
}
}

.bottom_width{
	padding-bottom: 0px !important;
}

#app_topnavbar-wrapper{
	z-index: 2;
}


@media (max-device-width: 767px) {
.bottom_width{
    padding-bottom: 0px !important;
     } }

@media (max-device-width: 1024px) {
.bottom_width {
    padding-bottom: 0px !important;
     } }

@media (max-width: 767px) {
.bottom_width {
    padding-bottom: 0px !important; 
  } }