// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-fab-group{
  float: right;
  position: relative;
  bottom: 30px;
  right: 20px;
}

.resolution-btn{
	background-color: #512DA8;
}

.card-dashboard{
	padding-top:1px !important;
	padding-bottom:8px !important;
}

.z-transform{
	z-index: -1000px !important;
}

.available-balance{
  display: none;
}

@media (max-width: 768px){
  .available-balance{
  	padding-top: 30px;
  	margin-left: 0px !important; 
  }
}

.rating-dashboard {
  border: none;
  float: left;
  margin-top: -8px;
  margin-left: 0px;
}

.rating-dashboard > input { display: none; }
.rating-dashboard > label:before {
margin-top:-4px;
  margin-left: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating-dashboard > .half:before {
  content: "\f089";
  position: absolute;
}

.rating-dashboard > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating-dashboard > input:checked ~ label, /* show gold star when clicked */
.rating-dashboard:not(:checked) > label:hover, /* hover current star */
.rating-dashboard:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating-dashboard > input:checked + label:hover, /* hover current star when changing rating */
.rating-dashboard > input:checked ~ label:hover,
.rating-dashboard > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-dashboard > input:checked ~ label:hover ~ label { color: #FFED85;  }



