// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resolution-btn{
	background-color: #512DA8;
}

.card-dashboard{
	padding-top:1px !important;
	padding-bottom:0px !important;
}

.z-transform{
	z-index: -1000px !important;
}


@media (max-width: 768px){
.available-balance{
	padding-top: 30px;
	margin-left: 0px !important; 
}
.resolution-btn{
	bottom:25px;
}
.table-responsive{
	width: 300px !important;
}
}