<div class="row">
	<!-- loop start -->
	<div class="col-xs-12">
		<div class="card card-index relative-div">
			<header class="card-heading border-bottom">
				<!-- project title -->
			</header>
		<nav class="btn-fab-group apply-btn-index" style="	position:absolute ;
	right: 10px;
	top: 22px;">
			<button class="btn btn-primary btn-fab fab-menu " data-fab="down">
                <i class="zmdi zmdi-plus"></i>
				<div class="ripple-container"></div>
			</button>
			<ul class="nav-sub">
				<li style="transform: translateY(48px);"> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" class="btn btn-danger btn-fab btn-fab-sm" data-original-title="Delete"><i class="zmdi zmdi-delete"></i></a></li>
				<li style="transform: translateY(96px);"> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="" class="btn btn-warning btn-fab btn-fab-sm" data-original-title="Attachment"><i class="zmdi zmdi-attachment"></i></a></li>
				<li style="transform: translateY(144px);"> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" class="btn btn-green btn-fab btn-fab-sm" data-original-title="Check All"><i class="zmdi zmdi-check-all"></i></a></li>
				<li style="transform: translateY(192px);"> <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="" class="btn btn-info btn-fab btn-fab-sm" data-original-title="Edit"><i class="zmdi zmdi-edit"></i></a></li>
			</ul>
         </nav>
			
		</div>
	</div>
	<!-- loop end -->
</div>