<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115540555-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-115540555-1');
	</script>

	<title>Enkidu</title>
	<%= yield :styles %>
</head>
	<%= yield %>
</html>